:root {
  --black-primary: #1F1F1F;
  --gray-primary: #D9D9D9;
  --green-primary: #A9EF23;
  --black-opacity-10: rgba(31, 31, 31, 0.1);
  --black-opacity-20: rgba(31, 31, 31, 0.2);
  --black-opacity-50: rgba(31, 31, 31, 0.5);
  --black-opacity-80: rgba(31, 31, 31, 0.8);
  --white-opacity-15: rgba(255, 255, 255, 0.15);
  --max-width: 1200px;
  --font-title: 'Montserrat', sans-serif;
  --bold-title: 900;
  --regular-title: 400;
  background-color: var(--gray-primary);
}

html, body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: var(--font-title);
  font-size: 2.5rem;
  font-weight: var(--bold-title);
  color: var(--black-primary);
}

h2 {
  font-family: var(--font-title);
  font-size: 2rem;
  font-weight: var(--regular-title);
  color: var(--black-primary);
}

