.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.subContainer {
  background-color: var(--black-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  padding: 80px 0;
  height: 100vh;
  max-height: 650px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 55px;
  max-width: 50%;
}

.greatings {
  font-size: 2rem;
  color: var(--gray-primary);
  z-index: 1;
  letter-spacing: 1px;
}

.carrer {
  font-size: 3.4rem;
  color: var(--green-primary);
  text-transform: uppercase;
  line-height: 0.9;
  z-index: 1;
  margin-top: 5px;
}

.logo {
  height: 28px;
  margin-right: 60px;
}

.logo:hover {
  filter:grayscale(100%);
  cursor: pointer;
}

.logos {
  display: flex;
  margin-top: 50px;
}

.button {
  background-color: var(--black-primary);
  width: max-content;
  color: var(--green-primary);
  border: 2px solid var(--green-primary);
  font-size: 1rem;
  text-decoration: none;
  font-family: var(--font-title);
  font-weight: 500;
  padding: 7px 25px;
  border-radius: 50px;
  margin-top: 20px;
  z-index: 1;
}

.button:hover {
  background-color: var(--green-primary);
  color: var(--black-primary);
  cursor: pointer;
}

.image {
  width: 50%;
  max-width: 600px;
  padding: 20px;
  position: absolute;
  left: 50%;
  z-index: 0;
}

.head {
  color: var(--gray-primary);
}

@media screen and (max-width: 1000px) {
  .subContainer {
    max-height: 450px;
  }
}

@media screen and (max-width: 900px) {
  .subContainer {
    flex-direction: column-reverse;
    height: max-content;
    max-height: none;
    padding: 10px 0;
  }

  .image {
    position: inherit;
    padding: 30px;
    width: 100%;
  }

  .info {
    padding: 20px 15px 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 80%;
  }

  .greatings {
    font-size: 1.6rem;
  }

  .carrer {
    font-size: 2.8rem;
  }

  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 100px;
  }

  .logo {
    margin-right: 20px;
  }
}